version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
  - package-ecosystem: pip
    directory: "/.github/workflows"
    schedule:
      interval: daily
    ignore:
      - dependency-name: "pip"
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
    ignore:
      - dependency-name: "pip"
